.el-menu {
  border: none !important;
}

/* 折叠状态隐藏子菜单箭头 */
.el-menu--collapse .el-sub-menu__icon-arrow {
  display: none !important;
}
// 提示主题设置层级问题
.el-popper {
  z-index: 999999 !important;
}
//Element Plus 的 Popover 默认有 min-width: 150px
.el-popper {
  min-width: auto !important;
  width: auto !important;
  padding: 6px !important;
  font-size: 12px !important;
}
// 调整联级选择器在部门管理
.el-cascader {
  width: 220px;
  .el-input__icon {
    margin: 0 !important;
  }
  // .el-input__wrapper {
  //   border-radius: 0;
  //   border-radius: 0 20px 20px 0;
  //   box-shadow: none !important; /* 去掉 Element Plus 默认边框 */
  //   border-top: 1px solid var(--el-border-color);
  //   border-right: 1px solid var(--el-border-color) !important;
  //   border-bottom: 1px solid var(--el-border-color);
  //   border-left: none !important; /* 只去掉左边 */
  // }
}
.el-empty {
  padding: 0 !important;
}
